<article>
	<section><%= question.content %></section>
	<% replications.forEach(function(replication){ %>
		<% if(question._id == replication.question_id){ %>
			<section>
				<% if(replication.result == "true"){ %>
				<input type="checkbox" value="<%= replication.answer_id %>" checked="<%= replication.result %>">
				<% } %>
				<% if(replication.result == "false"){ %>
				<input type="checkbox" value="<%= replication.answer_id %>">
				<% } %>
				<span><%= replication.content %></span>
			</section>
		<% } %>
	<% }) %>
</article>