<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="paper-box">
      <h1 class="paper-title">试卷列表</h1>
      <div class="paper-row">
        <span>名称</span>
        <span>类型</span>
        <span>时间</span>
        <span>描述</span>
      </div>
      <% papers.forEach(function(paper){ %>
        <div class="paper-row">
          <span><%= paper.name %></span>
          <span><%= paper.type %></span>
          <span><%= paper.limit_time %></span>
          <span><%= paper.description %></span>
      	  <a href="/examination/<%= paper._id %>/<%= person_id %>/<%= paper.name %>">
            进入笔试
          </a>
        </div>
      <%	}) %>
      <a href="/" class="choose-paper-back-a">返回菜单</a>
    </div>
  </body>
</html>